<!DOCTYPE html>
<html>
<head>
	<title>prediction</title>
</head>
<body style="background-color:lightgoldenrodyellow;">

	<center>
		<h1>Get Ready for the predictions</h1>

		<h2 style="color:red;">Ohho....You are Covid Positive</h2></center>
		
		<center><h3>Please consult a doctor if you feel any difficulty in breathing, below are the measures you can follow:</h3>
		
		<p>Isolate yourself, Eat healthy food, Perfrom Breathing exercises and Most importantly....Don't Panic</p>

		

	<img src="static/sad-removebg-preview.jpg" alt="" width="460" height="345" /> </center>	

</body>
</html>